
/* %%%%%%%%%%%%%%%%%%%% BUTTON STYLES %%%%%%%%%%%%%%%%%%%% */

.btn {
  float: left;
  width: auto;
  padding: $unit $unit-xl;
  font-family: $font-1;
  font-size: $font-size-sm;
  font-weight: $font-weight-semibold;
  text-transform: uppercase;

  @include mq(sm) {
    width: 100%;
  }

  &:hover {
    cursor: pointer !important;
    text-decoration: none;
  }

  &.btn-primary {
    background-color: $color-primary;
    color: white;

    &:hover {
      background-color: lighten($color-primary, 15%);
      cursor: pointer;
    }
  }

  &.btn-secondary {
    background-color: $color-secondary;
    color: white;

    &:hover {
      background-color: lighten($color-secondary, 15%);
      color: white;
      cursor: pointer;
    }
  }

  &.btn-tertiary {
    background-color: $color-tertiary;
    color: white;

    &:hover {
      background-color: lighten($color-tertiary, 15%);
      cursor: pointer;
    }
  }
}

.btn-read-more {
  margin-top: $unit-lg;
  margin-bottom: $unit-md;
  padding: $unit-xxs $unit-sm;
  font-size: 13px;

  @include mq(xl) {

  }

  @include mq(lg) {

  }

  @include mq(md) {
    width: auto;
    padding: $unit-sm $unit-md;
    font-size: 12px;
  }

  @include mq(sm) {
    width: auto;
    padding: $unit-sm $unit-md;
    font-size: 12px;
  }
}
